.blog-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bolder;
	color: #000000;
	padding-bottom: 24px;
	text-align: center;
}
.date-header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bolder;
	color: #6A0000;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6A0000;
}
.post-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bolder;
	color: #6A0000;
}
.post-body {
	margin-bottom: 12px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #990000;
	padding-right: 36px;
	padding-left: 36px;
}
