#roster {
    color: ddd;
    border: 1px;
    float: left;
    width: 50%;
}
#protectBlock {
    float: right;
    border: 1px;
    width: 50%;
}

#protect {
    padding: 5px;
}

#pullback {
    padding: 5px;
}

#alternate {
    padding: 5px;
}

.gshort { color: #e2a500;}
.bshort { color: #770000;} 
.text { text-decoration: none; text-align: left;}

tr.protect {
    color: #e2a500;
    visibility: visible;
}

tr.available {
    color: #770000;
}

.SLTables1, .SLTables1 TD, .SLTables1 TH, FORM {font-size:12px; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; border: 5px; padding: 2px}
.bg0 {background-color:#660000; font-weight:bold; color:#e2a500;}
.bg1 {background-color:#B9B9B9; font-weight:bold; padding: 2px;}
.bg2 {background-color:#f5efef; padding: 2px;}
.bg0font, .bg0font A, A.bg0font {color:#FFFFFF; font-weight:bold;}

td.bg2 {padding: 2px;}

.left { float: left; margin-right: 10px; }
.right { float: none; margin-left: 10px}

#posSort { float: left; padding: 10px; padding-left: 15px; border: 1px solid;}
#protectShow { float: left; padding: 10px; padding-right: 15px; border: 1px solid;}
#tableList { float: left; padding-top: 15px; }
#instruct { padding-bottom: 10px; float: none;}

#rosterList { float: right; margin: 10px; padding-right: 15px;}

.clearLine { clear: both; }
