.button {
    border-radius: 12px;
    background-color: #600;;
    color: #e2a500;
}

div.selectOptions {
    float: left;
}

div.formatOptions {
    float: left;
    margin-left: 20px;
}

div.tableOption {
    float: left;
    clear: left;
}

th.header {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background: #e6eeee url(/images/bg.gif) no-repeat center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(../img/small_asc.gif);
    background-color: #3399FF;
}

th.headerSortDown {
    background-image: url(../img/small_desc.gif);
    background-color: #3399FF;
}

#tblblock {
    padding-left: 10px;
    padding-top: 10px;
}

/* tables */
table.tablesorter {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
/ / width: 100 %;
    text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    #background-color: #e6EEEE;
    background-color: rgb(238, 238, 238);
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px 20px 4px 4px;
}

table.tablesorter thead tr .header {
    background: #600 no-repeat center right;
    cursor: pointer;
    color: #e2a500;
    text-align: center;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
    text-align: center;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url("/images/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
    background-image: url("/images/desc.gif");
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #e2a500;
    color: #660000;
}
