
A.headline:link {
    color: #e2a500;
    text-decoration: None;
    font-size: 12pt;
    font-weight: bold
}

A.headline:active {
    color: #e2a500;
    text-decoration: None;
    font-size: 12pt;
    font-weight: bold
}

A.headline:visited {
    color: #e2a500;
    text-decoration: None;
    font-size: 12pt;
    font-weight: bold
}

A.headline:hover {
    color: #660000;
    text-decoration: None;
    font-size: 12pt;
    font-weight: bold
}

.stats {
    background-color: #f5efef
}

A.stats:link {
    font-size: 10pt;
    text-decoration: none;
    color: #660000;
}

A.stats:visited {
    font-size: 10pt;
    text-decoration: none;
    color: #660000;
}

A.stats:hover {
    font-size: 10pt;
    text-decoration: none;
    color: #e2a500;
}

A:link {
    color: #660000;
}

A:active {
    color: #e2a500;
}

A:visited {
    color: #660000;
}

A:hover {
    color: #e2a500;
}

.row{white-space:nowrap;padding:1px 3px 1px 3px;}
.c1{background-color:#EFEFEF;}
/*.c1{background-color:#F8FCCC;}*/
.C{text-align:center;}

.titleLine1{font-size:24px;color:#660000; font-weight: bold; white-space: normal;}
/*.titleLine1{font-size:24px;color:#004080;}*/
.titleLine2{font-size:16px;color:#CC3300;}

.PQDO {
    float: right;
    color: #FF3300;
    font-style: italic;
    width: 20px;
    text-align: center;
    padding: 0px 1px 0px 2px;
}

.headline_photo {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}
.caption {
    font-size: 8pt;
    color: #e2a500;
    font-weight: 700;
    margin-bottom: 5px;
}

.rap{white-space:normal;}

.newsdate {
    font-size: 8pt;
    font-weight: 700;
    color: #660000;
}

.inelig {
    color: #8888BB;
    font-style: italic;
}

.mainStory {
    margin-bottom: 5px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
}
.cat, .catfoot {
    /*	background-image:url('../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/QBCJWFGN/skin/default/images/specific/cellpic1.gif'); */
    background-color:#660000;
    color:#e2a500;
    height:25px;
    font-weight:700;
    white-space:nowrap;
    padding: 2px 3px 0px 8px;
}

.mainTable {
    background-image: url(/images/bluestrip2.gif);
    background-repeat: repeat-y;
}

.sideButton {
    font-size: 18px;
    font-family: "Times New Roman", Times, Serif;
    height: 24px;
    border: 0px solid;
    text-align: center;
    margin-right: 20px;
    color: #660000;
}

.loginText {
    font-weight: bold;
    color: #660000;
}

.footer {
    float: left;
}

.SectionHeader {
    color: #e2a500;
    font-size: 14pt
}

A.sideButton {text-decoration: none; font-size:18px;}

A.sideButton:link {color:#660000; text-decoration: none; font-weight: bold}
A.sideButton:active {color:#e2a500; text-decoration: none; font-weight: bold}
A.sideButton:visited {color:#660000; text-decoration: none; font-weight: bold}
A.sideButton:hover {color:#e2a500; text-decoration: none; font-weight: bold}

div.alert {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

span.quicklink { color: #555555; padding: 5px; float: left; margin: 3px 15px;}

h1 {
    font-family: "Times New Roman", Times, Serif !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

body {
    margin: 8px;
    background-color: #660000;
    font-family: "Times New Roman", Times, Serif;
}

.btn-wmffl.focus, .btn-wmffl:focus, .btn-wmffl:not(:disabled):not(.disabled).active:focus, .btn-wmffl:not(:disabled):not(.disabled):active:focus, .show > .btn-wmffl.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn.disabled, .btn:disabled {
    opacity: .65
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none
}

.btn-wmffl {
    color: #e2a500;
    background-color: #660000;
    border-color: #660000;
}

.btn-wmffl:hover {
    color: #600000;
    background-color: #e2a500;
    border-color: #440000;
    /*
    background-color: #0069d9;
    border-color: #0062cc
    */
}

.btn-wmffl.disabled, .btn-wmffl:disabled {
    color: #e2a500;
    background-color: #660000;
    border-color: #440000;
}

.btn-wmffl:not(:disabled):not(.disabled).active, .btn-wmffl:not(:disabled):not(.disabled):active, .show > .btn-wmffl.dropdown-toggle {
    color: #e2a500;
    background-color: #600000;
    border-color: #440000
}

.btn-wmffl > a:link, .btn-wmffl > a:visited, a.btn-wmffl:link, a.btn-wmffl:visited {
    color: #e2a500;
}

.btn-wmffl:hover > a:link, .btn-wmffl:hover > a:visited, a.btn-wmffl:hover {
    color: #660000;
}

.nav-pills .nav-link {
    color: #e2a500;
    background-color: #660000;
    border: 4px solid #660000;
}

.nav-pills .nav-link:hover {
    color: #660000;
    background-color: #e2a500;
}

.nav-pills .nav-link.active {
    color: #e2a500;
    background-color: #660000;
    border: 4px solid #e2a500;
}

.list-group {
    display: inline-block;
}

.mainStory > div > table {
    font-size: 11px;
}

.mainStory > div > p > strong > span {
    font-size: medium !important;
}
