
    tr.account1 {background-color: #eeeeee; }
    tr.account2 {background-color: #ffffff; }
    tr.summary {background-color: #cccccc; }
    td.details {font-size: 8pt; text-align: center;}

    .center { text-align: center; }
    .teamList {display: none;}
    .debt {color: red;}

    #crusaders {display: none;}

    .report {
	border-spacing: 1;
	border: 1px solid #000;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
     }

    .titleRow {
	background: #600;
	color: #e2a500;
	font-style: normal;
	font-weight: normal;
    }

    .name { 
	text-align: left;
    }

    .evenRow {
	background: #e0e0e0;
	padding-top: 5px;
	padding-bottom: 5px;
    }

    .report {
	padding: 5px;
    }

    td.padded {
	padding: 5px 10px;
    }

