
</div>

<footer class="container-fluid py-3 bg-light">
<span class="font-weight-light small">&copy; 1992-{{ "now" | date("Y") }}. This web site and all content on this site are property of the WMFFL
    and are intended for use by the members of this league and other interested parties. All content may be
    republished, in whole or part, as long as the original source is properly cited.</span>
</footer>

</body>
</html>
